/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author: Ben Hilarides
  Date: 7.13.25
  Filename: styles.css
*/

/* Add your CSS styles here */
.error {
  color: red;
  font-weight: bold;
}
.chef-container {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}